* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/public/images/imagen-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }
  
  img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px !important;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    width: 100%;
    background-image: linear-gradient(-60deg, #fa3636 0%, #fae104 100%);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  }
  
  h1 {
    
    position: relative;
    font-size: 2rem;
    font-family: sans-serif;
    -webkit-text-stroke: 0.3vw rgb(255,255,255);
    text-transform: uppercase;
  }
  h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color:  rgb(240, 89, 51);
    -webkit-text-stroke: 0vw rgb(240, 89, 51);
    border-right: 4px solid rgb(240, 89, 51);
    overflow: hidden;
    animation: animate 6s linear infinite;
    -webkit-animation: animate 6s linear infinite;
  }
  @keyframes animate {
    0% {
      width: 0%;
    }
    70% {
      width: 100%;
    }
  }
  
  #cesta-carrito {
    border: none;
    color: rgb(240, 89, 51);
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
  }
  
  #cesta-carrito:hover {
    cursor: pointer;
    color: rgb(247, 91, 52);
    background-color: rgb(0,0,0,1);
  }
  
  #cesta-carrito:focus {
    outline: none;
  }
  
  #producto-contenedor {
    display: grid;
    gap: 1rem;
    max-width: 60rem;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  p {
    line-height: 1.8;
  }
  
  .card {
    max-width: 30%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-image: linear-gradient(-60deg, #fa3636 0%, #fae104 100%);
  }
  
  select {
    display: inline;
    text-align: center;
    border: 1px solid lightskyblue;
  }
  
  .modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
  
  .modal-carrito {
    position: relative;
    background-image: linear-gradient(-60deg, #fa3636 0%, #fae104 100%);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
  
  .modal-active .modal-carrito {
    margin-top: 0;
  }
  
  .modal-carrito h3 {
    color: rgb(255,255,255);
    padding-bottom: 5px;
  }
  
  .modal-carrito #btn-cerrar-carrito {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(255,255,255) !important;
    border: none;
    background-color: #fa5336;
  }
  
  .modal-carrito #btn-cerrar-carrito:hover {
    cursor: pointer;
  }
  
  .modal-carrito #btn-cerrar-carrito:focus {
    outline: none;
  }
  
  .modal-carrito .precioProducto {
    padding-top: 10px;
    color: rgba(255,255,255);
  }
  
  .card .card-image .card-title {
    color: rgb(255,255,255);
    position: unset;
    font-size: 21.6px;
  }
  
  .productoEnCarrito {
    border-left: 5px solid white;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;

  }
  .productoEnCarrito p {
    color: rgba(255,255,255);
  }
  
  .productoEnCarrito:hover {
    border-left: 5px solid rgb(0,0,0,1);;
  }
  
  .boton-eliminar {
    background-color: #fa5336;
    color: rgb(255,255,255);
    border: none;
    font-size: 20px;
  }
  
  .boton-eliminar:hover {
    cursor: pointer;
  }
  
  .boton-eliminar:focus {
    outline: none;
  }
  .card-content p{
    color: rgba(255,255,255);
    font-size: 16px;
  }
  .material-icons {
    background-image: linear-gradient(-60deg, #fa3636 0%, #fae104 100%);
  }