* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url("/public/images/imagen-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }
  
  img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px !important;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    width: 100%;
    background-image: linear-gradient(-60deg, #fa3636 0%, #fae104 100%);
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  }
  
  h1 {
    position: relative;
    font-size: 3.2em;
    color:#fae104 ;
  }
  h1::before {
    content: attr(data-text);
    position: absolute;
    color: #fff;
    width: 190px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 5s linear infinite;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 50px #fff);
  }
  @keyframes animate {
    0%,10%,100% {
         width: 6%;
    }
    70%,90% {
      width: 95%;
    }
  }
  
  
  #cesta-carrito {
    border: none;
    color: rgb(240, 89, 51);
    font-size: 30px;
    background-color: white;
    border-radius: 50%;
    padding: 10px 20px;
    transition: all .3s;
  }
  
  #cesta-carrito:hover {
    cursor: pointer;
    color: rgb(247, 91, 52);
    background-color: rgb(0,0,0,1);
  }
  
  #cesta-carrito:focus {
    outline: none;
  }
  
  #producto-contenedor {
    display: grid;
    gap: 1rem;
    max-width: 60rem;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  p {
    line-height: 1.8;
  }
  
  .card {
    position: relative;
    max-width: 30%;
    height: 420px;
    background: #f83a18;
    border-radius: 15px;
    overflow: hidden;
    /* max-width: 30%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    background-image: linear-gradient(-60deg, #fa3636 0%, #fae104 100%); */
  }
  .card::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #fae104;
    transform: skewY(345deg);
    transition: 0.5s;
  }
  .card:hover::before {
    top: -70%;
    transform: skewY(390deg);
  }
  .card-image {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    z-index: 1;
  }
  .card .card-image img {
    max-width: 100%;
    transition: 0.5s;
  }
  .card:hover .card-image img {
    max-width: 50%;
  }
  .card .card-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    margin-bottom: 20px;
  }
  .card .card-content h3 {
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    bottom: 15px;
  }
  .card .card-content p {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    bottom: 20px;
  }
  .card .card-content .btn-floating {
    position: relative;
    margin-left: 50px;
    top: 200px;
    opacity: 0;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    background-image: linear-gradient(-60deg, #fa3636 0%, #fae104 100%);
    letter-spacing: 1px;
    transition: 0.5s;
  }

  .card:hover .card-content {
    padding-top: 80px;
    position: relative;
    bottom: 20px;
  }
  .card:hover .card-content .btn-floating {
    top: 0;
    opacity: 1;
  }
  select {
    display: inline;
    text-align: center;
    border: 1px solid lightskyblue;
  }
  
  .modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .modal-active {
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
  
  .modal-carrito {
    position: relative;
    background-image: linear-gradient(-60deg, #fa3636 0%, #fae104 100%);
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  }
  
  .modal-active .modal-carrito {
    margin-top: 0;
  }
  
  .modal-carrito h3 {
    color: rgb(255,255,255);
    padding-bottom: 5px;
  }
  
  .modal-carrito #btn-cerrar-carrito {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(255,255,255) !important;
    border: none;
    background-color: #fa5336;
  }
  
  .modal-carrito #btn-cerrar-carrito:hover {
    cursor: pointer;
  }
  
  .modal-carrito #btn-cerrar-carrito:focus {
    outline: none;
  }
  
  .modal-carrito .precioProducto {
    padding-top: 10px;
    color: rgba(255,255,255);
  }
  
  /* .card .card-image .card-title {
    color: rgb(255,255,255);
    position: unset;
    font-size: 21.6px;
  } */
  
  .productoEnCarrito {
    border-left: 5px solid white;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;

  }
  .productoEnCarrito p {
    color: rgba(255,255,255);
  }
  
  .productoEnCarrito:hover {
    border-left: 5px solid rgb(0,0,0,1);;
  }
  
  .boton-eliminar {
    background-color: #fa5336;
    color: rgb(255,255,255);
    border: none;
    font-size: 20px;
  }
  
  .boton-eliminar:hover {
    cursor: pointer;
  }
  
  .boton-eliminar:focus {
    outline: none;
  }
  /* .card-content p{
    color: rgba(255,255,255);
    font-size: 16px;
  } */
  